
.proto-content-wrap {
    display: block;

    H3 {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    H5 {
        font-weight: 500;
        line-height: 1.2;
        font-size: 17px;
    }

    hr {
        width: 80%;
        margin: 15px auto 15px auto;
        border-bottom: 1px solid var(--global-palette7);
        height: 2px;
    }

    .proto-tax-pill {
        display: inline-block;
        position: relative;
        width: fit-content;
        color: #a0a0a0;
        padding: 5px 8px 5px 8px ;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: small;
        line-height: 1.2;
        border-radius: 5px;
        border: 1px solid #a0a0a0;
        transition: 0.5s;
    
        &:hover {
            color: var(--global-palette3);
            border-color: var(--global-palette3);
            cursor: pointer;  
        }
    }

    .proto-posted-on {
        color: var(--global-palette6);
        display: inline-block;
        font-size: 80%;
        font-weight: bolder;
        margin-bottom: 20px;
    }
}

.proto-team-member-card {
        display: block;
        text-align: center;
        overflow: wrap;
        max-width: 356px;
        min-width: 250px;

        h5 {
            margin: 0px 0px 0px 0px !important;
            font-size: smaller;
            font-weight: bold;
        }
    
        p {
            margin: 0px;;
            padding: 0px 0px 0px 0px;
            font-size: smaller;;
            color: var(--global-palette6);
        }

        a {
            text-decoration: none;
        }

        .proto-thumb-container {
            display: block;
            overflow: hidden;
            width: 98%;
            aspect-ratio: 1.61;
            margin-bottom: 10px;
            border-radius: 5px;
    
            &:hover {
                box-shadow:
                    0px 0px 2.2px rgba(0, 0, 0, 0.07),
                    0.8px 0.8px 5.3px rgba(0, 0, 0, 0.05),
                    2.7px 2.7px 10px rgba(0, 0, 0, 0.042),
                    6.4px 6.4px 17.9px rgba(0, 0, 0, 0.035),
                    13.6px 13.6px 33.4px rgba(0, 0, 0, 0.028),
                    32px 32px 80px rgba(0, 0, 0, 0.02)
                    ;
            }

            .proto-thumb {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                filter: grayscale(100);
                opacity: 0.85;
                transition: all .4s;
                padding: 10px;
        
                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    top: 0px;
                    left: 0px;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    z-index: 2;
                    transition:  all .4s;
                }
        
                &:hover {
                    filter: grayscale(0);
                    opacity: 1;
                    transform: scale(1.1);
                    
        
                    &::after {
                        border-color: $gr_blue;
                        border-width: 2px;
                        transform: scale(0.9);
                    }
                }
        
            }
        }
    }

.proto-content-wrap-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 15px;
    justify-content: space-evenly;
}


.cd-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background:transparent;
    padding: 0;
    border-radius: 2px;
  }
  .cd-container::after {
    content: '';
    display: table;
    clear: both;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  
  
  #cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    width: 1px;
    background: var(--global-palette1);
  }
  
  .cd-timeline-block {
    position: relative;
    margin: 1em 0;
  }
  .cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  
  .cd-timeline-img {
    position: absolute;
    top: 28px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $gr_blue, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .cd-timeline-img {
    background: white;
  }
  
  .cd-timeline-content {
    position: relative;
    margin-left: 32px;
    margin-right: 0px;
    background: var(--global-palette7);
    color: var(--global-palette6);
    border-radius: 5px;
    padding: 1em;

    .posted_on {
        font-size: 16px;
        font-weight: 300;
        color: var(--global-palette5);
    }

    .tax-pills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 8px;
      margin-bottom: 8px;
    }
    .pc-tax-pill, .cat-tax-pill  { 

        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        color: #eee;
        background-color: var(--global-palette1);
        width: fit-content;
        padding: 0 8px 0 8px;
        border-radius: 3px;

        a {
            color: var(--global-palette9) !important;
            text-decoration: none;
        }
    }

    .cat-tax-pill {
        background-color: $gr_blue;
    }


  }


  .cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-content h2 {
    margin-top:0;
    margin-bottom: 5px;
  }
  .cd-timeline-content p, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .cd-timeline-content .cd-date {
    display: inline-block;
  }
  .cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
  }
  
  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 100%;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-right: 12px solid var(--global-palette7);
  }
  
  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  